.headerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d97f3;
  color: #fff;
  .title {
    margin-left: 20px;
  }
  .loginOut {
    cursor: pointer;
    margin-right: 100px;
  }
  .logo {
    width: 40px;
  }
  .provide-Box {
    position: absolute;
    top: 0;
    right: 400px;
    z-index: 5;
    .ant-radio-group {
      .ant-radio-button-wrapper {
        box-shadow: none;
        border: 1px solid #1890ff;
        background-color: #1890ff;
        color: #fff;
        height: inherit;
        line-height: normal;
        border-left: 0;
        padding: 5px 15px;
      }
      .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
        box-shadow: none;
        background-color: #fff;
        color: #666;
      }
    }
  }
}
